body{

    background-image: url(assets/03ae628-sabotage-rapper-foto-1280x720-1-1024x576.avif);
    background-size: cover;
    background-repeat: no-repeat;

}



img{

    width: 300px
    
}

h2{
    font-family: 'Times New Roman', Times, serif;

    font-size: large 700px;

    

}

footer p{

color: white;

    padding: auto;
    
    text-align: center;
}

main p{

    color: rgb(0, 0, 0);

    font-family: 'Times New Roman', Times, serif;
}


h1{

font-family: 'Times New Roman', Times, serif;

font-size: large;

}

main h4{

    color: white
;
}

